<div>
    <h2>
        <span>Arepitas</span>
        <button class="btn btn-primary float-right jh-create-entity create-arepita" [routerLink]="['/', { outlets: { popup: ['arepita-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Arepita
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="arepitas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span>Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcion"><span>Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receta"><span>Receta</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imagen"><span>Imagen</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let arepita of arepitas ;trackBy: trackId">
                <td><a [routerLink]="['../arepita', arepita.id ]">{{arepita.id}}</a></td>
                <td>{{arepita.nombre}}</td>
                <td>{{arepita.descripcion}}</td>
                <td>{{arepita.receta}}</td>
                <td>
                    <a *ngIf="arepita.imagen" (click)="openFile(arepita.imagenContentType, arepita.imagen)">
                        <img [src]="'data:' + arepita.imagenContentType + ';base64,' + arepita.imagen" style="max-height: 30px;" alt="arepita image"/>
                    </a>
                    <span *ngIf="arepita.imagen">{{arepita.imagenContentType}}, {{byteSize(arepita.imagen)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../arepita', arepita.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'arepita/'+ arepita.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'arepita/'+ arepita.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
