<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myArepitaLabel">Create or edit a Arepita</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!arepita.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="arepita.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="arepita.nombre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                [(ngModel)]="arepita.descripcion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_receta">Receta</label>
            <input type="text" class="form-control" name="receta" id="field_receta"
                [(ngModel)]="arepita.receta" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_imagen">Imagen</label>
            <div>
                <img [src]="'data:' + arepita.imagenContentType + ';base64,' + arepita.imagen" style="max-height: 100px;" *ngIf="arepita.imagen" alt="arepita image"/>
                <div *ngIf="arepita.imagen" class="form-text text-danger clearfix">
                    <span class="pull-left">{{arepita.imagenContentType}}, {{byteSize(arepita.imagen)}}</span>
                    <button type="button" (click)="clearInputImage('imagen', 'imagenContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_imagen" (change)="setFileData($event, arepita, 'imagen', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                [(ngModel)]="arepita.imagen" />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                [(ngModel)]="arepita.imagenContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
