
<div *ngIf="arepita">
    <h2><span>Arepita</span> {{arepita.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{arepita.nombre}}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
            <span>{{arepita.descripcion}}</span>
        </dd>
        <dt><span>Receta</span></dt>
        <dd>
            <span>{{arepita.receta}}</span>
        </dd>
        <dt><span>Imagen</span></dt>
        <dd>
            <div *ngIf="arepita.imagen">
                <a (click)="openFile(arepita.imagenContentType, arepita.imagen)">
                    <img [src]="'data:' + arepita.imagenContentType + ';base64,' + arepita.imagen" style="max-width: 100%;" alt="arepita image"/>
                </a>
                {{arepita.imagenContentType}}, {{byteSize(arepita.imagen)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'arepita/'+ arepita.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
