<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to Arepitas Angelita</h1>
        <p class="lead">The most exquisite and delicious arepitas of all Australia!</p>

        <!-- <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>  
        </div> -->

        <div *ngFor="let arepita of arepitas">
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{arepita.nombre}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{arepita.descripcion}}</span>
                </dd>
                <dt><span>Receta</span></dt>
                <dd>
                    <span>{{arepita.receta}}</span>
                </dd>
                <dt><span>Imagen</span></dt>
                <dd>
                    <div *ngIf="arepita.imagen">
                        <a (click)="openFile(arepita.imagenContentType, arepita.imagen)">
                            <img [src]="'data:' + arepita.imagenContentType + ';base64,' + arepita.imagen" style="max-width: 50%;" alt="arepita image"/>
                        </a>
                    </div>
                </dd>
            </dl>
        </div>
        <p>
            <span>If you are an arepitas fan, don't hesitate to contact us</span>
        </p>
    </div>
</div>
